:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.1469 0.0041 49.2499);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.1469 0.0041 49.2499);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.1469 0.0041 49.2499);
  --primary: oklch(0.7049 0.1553 131.3844);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.9674 0.0013 286.3752);
  --secondary-foreground: oklch(0.2103 0.0059 285.8852);
  --muted: oklch(0.9674 0.0013 286.3752);
  --muted-foreground: oklch(0.5517 0.0138 285.9385);
  --accent: oklch(0.9674 0.0013 286.3752);
  --accent-foreground: oklch(0.2103 0.0059 285.8852);
  --destructive: oklch(0.6368 0.2078 25.3313);
  --destructive-foreground: oklch(0.9851 0 0);
  --border: oklch(0.9197 0.004 286.3202);
  --input: oklch(0.9197 0.004 286.3202);
  --ring: oklch(0.7049 0.1553 131.3844);
  --chart-1: oklch(0.7049 0.1553 131.3844);
  --chart-2: oklch(0.7887 0.1425 129.7661);
  --chart-3: oklch(0.8253 0.1181 129.0007);
  --chart-4: oklch(0.8743 0.085 128.3785);
  --chart-5: oklch(0.9238 0.0522 127.5426);
  --sidebar: oklch(0.9674 0.0013 286.3752);
  --sidebar-foreground: oklch(0.1469 0.0041 49.2499);
  --sidebar-primary: oklch(0.7049 0.1553 131.3844);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(1 0 0);
  --sidebar-accent-foreground: oklch(0.1469 0.0041 49.2499);
  --sidebar-border: oklch(0.9197 0.004 286.3202);
  --sidebar-ring: oklch(0.7049 0.1553 131.3844);
  --font-sans: Inter;
  --font-serif: Lora;
  --font-mono: Fira Code;
  --radius: 0.5rem;
  --shadow-2xs: 0px 4px 10px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0px 4px 10px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm:
    0px 4px 10px 0px hsl(0 0% 0% / 0.1), 0px 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow:
    0px 4px 10px 0px hsl(0 0% 0% / 0.1), 0px 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow-md:
    0px 4px 10px 0px hsl(0 0% 0% / 0.1), 0px 2px 4px -1px hsl(0 0% 0% / 0.1);
  --shadow-lg:
    0px 4px 10px 0px hsl(0 0% 0% / 0.1), 0px 4px 6px -1px hsl(0 0% 0% / 0.1);
  --shadow-xl:
    0px 4px 10px 0px hsl(0 0% 0% / 0.1), 0px 8px 10px -1px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0px 4px 10px 0px hsl(0 0% 0% / 0.25);
  --tracking-normal: 0px;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.1469 0.0041 49.2499);
  --foreground: oklch(0.9851 0 0);
  --card: oklch(0.2103 0.0059 285.8852);
  --card-foreground: oklch(0.9851 0 0);
  --popover: oklch(0.2103 0.0059 285.8852);
  --popover-foreground: oklch(0.9851 0 0);
  --primary: oklch(0.7049 0.1553 131.3844);
  --primary-foreground: oklch(0.1469 0.0041 49.2499);
  --secondary: oklch(0.2739 0.0055 286.0326);
  --secondary-foreground: oklch(0.9851 0 0);
  --muted: oklch(0.2739 0.0055 286.0326);
  --muted-foreground: oklch(0.7118 0.0129 286.0665);
  --accent: oklch(0.2739 0.0055 286.0326);
  --accent-foreground: oklch(0.9851 0 0);
  --destructive: oklch(0.3958 0.1331 25.723);
  --destructive-foreground: oklch(0.9851 0 0);
  --border: oklch(0.2739 0.0055 286.0326);
  --input: oklch(0.2739 0.0055 286.0326);
  --ring: oklch(0.7049 0.1553 131.3844);
  --chart-1: oklch(0.7049 0.1553 131.3844);
  --chart-2: oklch(0.6423 0.1467 133.0145);
  --chart-3: oklch(0.579 0.1366 134.6649);
  --chart-4: oklch(0.4667 0.1212 138.274);
  --chart-5: oklch(0.4254 0.1159 144.3078);
  --sidebar: oklch(0.2103 0.0059 285.8852);
  --sidebar-foreground: oklch(0.9851 0 0);
  --sidebar-primary: oklch(0.7049 0.1553 131.3844);
  --sidebar-primary-foreground: oklch(0.1469 0.0041 49.2499);
  --sidebar-accent: oklch(0.2739 0.0055 286.0326);
  --sidebar-accent-foreground: oklch(0.9851 0 0);
  --sidebar-border: oklch(0.2739 0.0055 286.0326);
  --sidebar-ring: oklch(0.7049 0.1553 131.3844);
  --font-sans: Inter;
  --font-serif: Lora;
  --font-mono: Fira Code;
  --radius: 0.5rem;
  --shadow-2xs: 0px 4px 10px 0px hsl(0 0% 0% / 0.1);
  --shadow-xs: 0px 4px 10px 0px hsl(0 0% 0% / 0.1);
  --shadow-sm:
    0px 4px 10px 0px hsl(0 0% 0% / 0.2), 0px 1px 2px -1px hsl(0 0% 0% / 0.2);
  --shadow:
    0px 4px 10px 0px hsl(0 0% 0% / 0.2), 0px 1px 2px -1px hsl(0 0% 0% / 0.2);
  --shadow-md:
    0px 4px 10px 0px hsl(0 0% 0% / 0.2), 0px 2px 4px -1px hsl(0 0% 0% / 0.2);
  --shadow-lg:
    0px 4px 10px 0px hsl(0 0% 0% / 0.2), 0px 4px 6px -1px hsl(0 0% 0% / 0.2);
  --shadow-xl:
    0px 4px 10px 0px hsl(0 0% 0% / 0.2), 0px 8px 10px -1px hsl(0 0% 0% / 0.2);
  --shadow-2xl: 0px 4px 10px 0px hsl(0 0% 0% / 0.5);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-normal: var(--tracking-normal);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}
